body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #0067B1;
    padding: 20px;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    color: #F3C600;
    font-size: 2.5em;
    margin: 0;
    font-weight: 700;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
    background-color: #0067B1;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #F3C600;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 15px;
    transition: background-color 0.3s ease, text-shadow 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #005491;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

main {
    padding: 40px 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.8;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 40px;
}

h2 {
    color: #000;
    font-size: 2em;
    margin-bottom: 20px;
}

p, ul, li {
    color: #333;
    font-size: 1.2em;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* Stile per il carosello di immagini */
.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel img {
    width: 100%;
    height: auto;
    display: none;
}

.carousel img.active {
    display: block;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.carousel-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
